.card-label {
  text-transform: uppercase;
  input{
    margin: 5px;
  }
}

.cardProps {
  background: #eaeaea;
  padding: 10px;
}

.payment-amount {
  margin: 5px;
}

.payment-form-error {
  color: #dd1144;
}

.payment-system {
  img {
    width: 80px
  }
  float: left;
}

.payment-bank {
  float: right;
  display: flex;
  align-items: flex-end;
  height: 50px;
}